.header
{
    display: flex;
    justify-content: space-between;
    // background-color: var(--backGroundGray);
    padding:10px 0px;

    .header-logo
    {
        padding-left: 6px;
    }
    .header-searchBar
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid white;
        border-radius: 5px;

        .header-inputBar
        {
            min-width: 449px;
            border: 0px;
            padding-left: 10px;
            // outline: none;
        }
        .header-inputBar:focus {
            outline: none;
        }
        .header-searchLogo
        {
            padding-left:16px;
        }
    }
    .header-menuBar
    {
        padding-right: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}